<h1>Hello</h1>

{{#each kotiki}}

<div class="d-flex flex-row bd-highlight mb-3">
    <div class="card" style="max-width: 400px;"><img src="{{this.link}}" class="img-thumbnail" alt="...">
    </div>

</div>
{{/each}}

<form action="/catslist" method="POST">
    <div class="mb-3">
        <label for="catsName" class="form-label">Имя котика</label>
        <input name="name" type="text" class="form-control" id="">
    </div>
    <div class="mb-3">
        <label for="catsLink" class="form-label">Вставте прямую ссылку на фотку с котиком(URL)</label>
        <input name="link" type="text" class="form-control" id="">
    </div>

    <button type="submit" class="btn btn-primary">Отправить</button>
</form>