<section class="d-flex flex-row blur">
    {{#each kotiki}}

    <div class="d-flex bd-highlight mb-3">
        <div class="card" style="max-width: 400px;"><img src="{{this.link}}" class="img-thumbnail" alt="...">
            <h1>{{this.name}}</h1>
        </div>

    </div>
    <form action="/secret" method="POST">
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
    {{/each}}

</section>